.proInfo{
    float: left;
    margin-right: 500px;
    margin-top: 20px;
}

.proCell{
    padding: 10px;
}

.shorten{
    width: 200px;
    margin-top: -5px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

body{
    margin: 0 0 30px;
}

html{
    position: relative;
    min-height: 100%;
}