.proInfo{
    float: left;
    margin-right: 500px;
    margin-top: 20px;
}
.container{
	margin: 0 auto;
}
.highlight{background-color: #7498c9;}

.lightlight{background-color: #e6f2ff;}

.proCell{
    padding: 10px;
}

.shorten{
    width: 200px;
    margin-top: -5px;
}

.margin-text{
    color: #9d9d9d;
}
#skillTable{
	width:100%;
	background-image:url("/static/main/Bricks.jpg");
	background-size:100%;
	
}

.sklName{
	display:inline-block;
	padding:5px;
	text-align:center;
	border-style:solid;
	border-color:black;
	font-size:15px;
	background-color:#1420DC;
	margin:2px;
	border-radius:10px;
	border-width:3px;
	float:left;
	color:#F8F8F8;
	
}
.sklVal{
	display:inline-block;
	padding:5px;
	text-align:center;
	border-style:solid;
	border-color:black;
	background-color:#1420DC;
	color:#F8F8F8;
	margin-bottom:2px;
	border-radius:10px;
	border-width:2.5px;
	font-size:20px;
	float:right;
	
}
a:hover {
 cursor:pointer;
}.thisProf{
	margin-right:50px;
}

body{
    
	background-position: absolute;
	background-image:url("/static/main/Bricks.jpg");
	background-size:630px;
	background-repeat:repeat-y;
	background-color:#F8F8F8;
	
	
	}
.brick{
	margin-top:50px;
	border-radius:15px;
	background-color: #F8F8F8;
	background-size:60px;
	background-position:top right;
	margin-left:40px;
	position:absolute;
	
}
.userTable{
	width:100%;
	background-image:url("/static/main/Bricks.jpg");
	background-size:100%;
}
.userTable td{
	display:inline-block;
	padding:5px;
	text-align:center;
	border-style:solid;
	border-color:black;
	background-color:#1420DC;
	margin:3px;
	border-radius:10px;
	border-width:3px;
	float:left;
	color:#F8F8F8;
}
.StuList{
	display:inline-block;
	padding:5px;
	text-align:center;
	border-style:solid;
	border-color:black;
	background-color:#1420DC;
	margin:3px;
	border-radius:10px;
	border-width:3px;
	float:left;
	color:#F8F8F8;
}

html{
    position: relative;
    min-height: 100%;
}

input[type=radio] {
    display: block;
    margin: 0 auto;
}
label {
    display: inline-block;
}
.skillz{
	margin-top:50px;
	margin-right:100px;
	margin-left:100px;
	float:left;
	background-color:transparent;
}
#mainSkillTab {
	position: absolute;
	display: inline-block;
	font-size:20px;
	margin-right:100px;
}
#mainSkillTab tr{
	width:800px;
	display:inline-block;
	background-color:#F8F8F8;
	
}
.tn{
	display:inline-block;
	padding:5px;
	text-align:center;
	border-style:solid;
	border-color:black;
	background-color:#0098FF;
	color:black;
	margin:2px;
	border-radius:10px;
	border-width:1.2px;
	margin-right:150px;
	float:left;
	
	
}
.tv{
	display:inline-block;
	padding:5px;
	text-align:center;
	border-style:solid;
	border-color:black;
	background-color:#0098FF;
	color:black;
	margin:3px;
	border-radius:10px;
	border-width:1.2px;
	margin-right:150px;
	float:right;
	width:60px;
	
}
.treee{
	position:top right;
	height:20px;
	float:right;
}
.treeee{
	position:top right;
	height:20px;
	float:left;
}

.brickssss{
	position:fixed;
	background-image:url("/static/main/Bricks.jpg");
	width:20px;
	height:100%;
	right:0;
}
.Plack{
	z-index:1;
	position:fixed;
	top:0;
	margin-top:30px;
	margin-right:50px;
	margin-left:50px;
	height:100px;
	width:60%;
	right:0;
}

