.loginInputs{
	display:inline-block
}

td {
    padding: 10px;
}

.loginBtns{
    display: inline-block;
    text-align: center;
    padding-top: 10px;
	
}

.floatClear {
    clear: both;
}

.loginBtn{
    float: left;
    margin-right: 30px;
	
}
.errors{
	margin-top:13px;
}
.regBtn{
	
    float: left;
}


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

body{
    margin: 0 0 30px;
	background-size:cover;
}

html{
    position: relative;
    min-height: 100%;
}

.disabled{
    pointer-events: none;
    opacity: 1;
}
h1{
	font-size:60px;
	font-family:Serif;
}
.rotate{
	-webkit-transform: rotate(45deg);
	
	
}

