<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initialscale=1" name="viewport">
    <title>Job Finder</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-theme.min.css">
    <link href="/static/login/login.css" rel="stylesheet">
    <script src="/static/login/login.js"></script>
</head>
<body role="document">
<div class="title text-center">
    {% if refusePrompt %}
        <h1>{{ refusePrompt }}</h1>
    {% endif %}
    <h1>Login</h1>
</div>
<br/>
<br/>
<form method=post action="">
    <div class="text-center">
        <div class="loginInputs">
            <table>
            {% for field in form %}
                <tr>
                    <td>{{ field.label }}</td>
                    <td>{{ field(size=20) }}</td>
                    <td>
                        {% if field.errors %}
                            <ul class=errors>
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <br/>
        <div class="loginBtns">
            <div class="loginBtn">
                <input type="submit" value="Login">
            </div>
            <div class="regBtn">
                <button type="button" onclick="location.href = '/register'">Register</button>
            </div>
            <div class="floatClear"></div>
        </div>
    </div>
</form>
<footer>
    <div class="text-center">
        <p>Job Finder</p>
    </div>
</footer>
</body>
</html>
