<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Finder</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <link href="/static/main/main.css" rel="stylesheet" type="text/css">
    <script src="/static/main/main.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar"
                        data-toggle="collapse" type="button">
                    <span class="sr-only">
                        Toggle navigation
                    </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="main">
                    Job Finder
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if user %}
                    <li>
                        <a href="profile">
                            Profile
                        </a>
                    </li>
                    {% endif %}
                    <li class="active">
                        <a href="main">
                            Main
                        </a>
                    </li>
                    <li>
                        <a href="results">
                            Results
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <div class="margin-info pull-right">
                        {% if user %}
                            <p class="margin-text" align="right">Logged in as <a href="/profile">{{ user.username }}</a>
                                <br/>
                                <a href="/logout">Logout</a>
                                <br/>
                            </p>
			            {% else %}
                            <p class="margin-text" align="right"> Guest User
                                <br/>
                                <a href="/login">Login</a>
                                <br/>
                                <a href="/register">Register</a>
                                <br/>
                            </p>
                        {% endif %}
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <div id="infoModal" class="modal fade outer" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="infoTitle"></h4>
                </div>
                <div class="ModalBody">
                    <div id="description"></div>
                    {% if user %}
                        <div>
                            <button type="button" class="btn btn-default" onclick="runMatch()">Run Match</button>
                        </div>
                    {% endif %}
                </div>
                <div class="text-center">
                    <div class="ModalFooter">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div>Search:</div>
    <input type="text" id="searchFilt" class="form-control" placeholder="Name to search">
    <div>Search By:</div>
    <label for="majorCheck">Major:</label>
    <input type="checkbox" id="majorCheck">
    <label for="jobCheck">Job:</label>
    <input type="checkbox" id="jobCheck">
    <table id="majorTable">
        {% for major in majors %}
            <tr data-desc="{{ major.description }}">
                <td>{{ major.name }}</td>
            </tr>
        {% endfor %}
    </table>
    <table id="jobTable">
        {% for job in jobs %}
            <tr data-desc="{{ job.description }}">
                <td>{{ job.name }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
