<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Finder</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <link href="/static/profile/profile.css" rel="stylesheet" type="text/css">
    <script src="/static/profile/profile.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar"
                        data-toggle="collapse" type="button">
                    <span class="sr-only">
                        Toggle navigation
                    </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="main">
                    Job Finder
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="profile">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="main">
                            Main
                        </a>
                    </li>
                    <li>
                        <a href="results">
                            Results
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <div class="margin-info pull-right">
                        <p class="margin-text" align="right" style="color: #9d9d9d">Logged in as <a href="/profile">{{ user.username }}</a>
                            <br/>
                            <a href="/logout">Logout</a>
                            <br/>
                        </p>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <div id="userModal" class="modal fade outer" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {% if user.isAdmin %}
                        <h4 class="modal-title">User List:</h4>
                    {% else %}
                        <h4 class="modal-title">Student List:</h4>
                    {% endif %}
                </div>
                <div class="ModalBody">
                    <div class="text-center">
                        <input type="text" class="form-control" placeholder="Username" id="userFilt">
                    </div>
                    <div class="userTable">
                        <div>
                            {% if studentList %}
                            <table id="userTable">
                                {% for name in studentList %}
                                    <tr data-user="{{ name.isFaculty }}">
                                        <td>
                                            {{ name.username }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="ModalFooter">
                        <div>
                            {% if user.isAdmin %}
                                <button class="btn btn-primary btn-md" id="setFBtn" onclick="showPFaculty()">Set Faculty</button>
                                <button class="btn btn-primary btn-md" id="delBtn" onclick="deleteTarget()">Delete User</button>
                            {% endif %}
                            <button class="btn btn-primary btn-md" id="simBtn" onclick="switchUser()">Simulate Student</button>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="skillModal" class="modal fade outer" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="skillTitle">Skill List:</h4>
                </div>
                <div class="ModalBody">
                    <div class="text-center">
                        <input type="text" class="form-control" placeholder="Skill" id="skillFilt">
                    </div>
                    <div class="skillTable">
                        <div>
                            {% if skills %}
                            <table id="skillTable">
                                {% for name, val in skills.items() %}
                                <tr>
                                    <td>
                                        {{ name }}
                                    </td>
                                    <td>
                                        {{ val }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row" id="skillRadio" style="margin-left: 100px;">
                        <label><input id="rad0" type="radio" name="skillVal" />0</label>
                        <label><input id="rad1" type="radio" name="skillVal" />1</label>
                        <label><input id="rad2" type="radio" name="skillVal" />2</label>
                        <label><input id="rad3" type="radio" name="skillVal" />3</label>
                        <label><input id="rad4" type="radio" name="skillVal" />4</label>
                        <label><input id="rad5" type="radio" name="skillVal" />5</label>
                    </div>
                </div>
                <div class="text-center">
                    <div class="ModalFooter">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
	<img class ="Plack" src="/static/main/Plack.png" alt="ok">
    <div class="text-center">
	
        <div class="proInfo" id="profileInfo">
		<div class="brick" >
            <table>
                <tbody class="thisProf">
                    <tr>
                        <td  class="proCell" class="usrNm"><b class="pull-left">Username:</b>{{ userProfile[0].username }} <img class ="treee" src="/static/profile/Tree.png" alt="ok"></td>
                    </tr>
                    <tr>
                        <td  class="proCell" class="FNm"><b class="pull-left">First Name:</b>{{ userProfile[0].firstName }}<img class ="treee" src="/static/profile/Tree.png" alt="ok"></td>
                        <td  class="proCell"class="LNm"><b class="pull-left">Last Name:</b>{{ userProfile[0].lastName }}<img class ="treee" src="/static/profile/Tree.png" alt="ok"></td>
                    </tr>
                    <tr>
                        <td  class="proCell" class="Eml"><b class="pull-left">Email:</b><input type="text" class="form-control" placeholder='{{ userProfile[0].email }}' id="proEmail"></td>
                        <!--<td class="proCell"><b class="pull-left">Password:</b><input type="password" class="form-control" id="proPass"></td>-->
                    </tr>
                </tbody>
            </table>
			
            {% if ghost == 0 %}
                <button class="btn btn-primary btn-md" onclick="updateProf()">Update Profile</button>
                <button class="btn btn-primary btn-md" onclick="updateSkills()">Update Skills</button>
                <button class="btn btn-primary btn-md" onclick="deleteSelf()">Delete Account</button>
            {% else %}
                <button class="btn btn-primary btn-md" onclick="updateProf()" disabled>Update Profile</button>
                <button class="btn btn-primary btn-md" onclick="updateSkills()" disabled>Update Skills</button>
                <button class="btn btn-primary btn-md" onclick="deleteSelf()" disabled>Delete Account</button>
            {% endif %}
            {% if user.isAdmin %}
                <button class="btn btn-primary btn-md" onclick="showModal()">View Users</button>
                <button class="btn btn-primary btn-md" onclick="searchStats()">Statistics</button>
            {% elif user.isFaculty %}
                <button class="btn btn-primary btn-md" onclick="showModal()">View Students</button>
            {% endif %}
			
			</div>
		
		</div>
		
        <div class="skillz">
            {% if skills %}
            <table id="mainSkillTab">
                {% for name, val in skills.items() %}
                <tr>
                    <td class="tn">
                        {{ name }} 
                    </td>
                    <td class="tv">
                       <img class ="treeee" src="/static/profile/Tree.png" alt="ok"> {{ val }} <img class ="treee" src="/static/profile/Tree.png" alt="ok">
                    </td>
					
                </tr>
                {% endfor %}
            </table>
            {% endif %}
			
        </div>
		<div class= "brickssss" ></div>
    </div>
	<div class= "bricksss" ></div>
	<div class= "brickssss" ></div>
</body>
</html>
